main{
    margin-top: 53px;
    margin-left: 16px;
}
h2{
    text-align: center;
}
hr{
    width: 75%;
    text-align: left;
}

form label {
    display: block;
    font-size: 20px;
    margin-bottom: 9px;
    margin-top: 25px;
    color: black;
    font-family: arial;
  }

form input{
    width: 200px;
    font-size: 16px;
    font-family: Arial;
}
form textarea{
    height: 6.00rem;
    width: 20.00rem;
    color: black;
    font-size: 16px;
    margin-bottom: 20px;
    font-family: Arial;
    margin-left: 1px;
}  

form button{
    margin-left: 1px;
    margin-right: 16px;
}

.group{
    display: flex;
    flex-direction: column;
}

/* Desktop Format*/ 
@media all and (min-width: 800px){
    .group{
        display: flex;
        flex-direction: column;
        align-self: flex-end;
    }

    form{
        margin-top: 100px;
        margin-left: 460px;
    }

    form input,
    form textarea {
        width: 50%;
    }
}